# Foor loop

In [5]:
for a in range(5):#01234
    #indent
    print(a, "Nasir")

0 Nasir
1 Nasir
2 Nasir
3 Nasir
4 Nasir

In [7]:
for char in "pakistanzindabad":
    print(char.upper(), end="")

PAKISTANZINDABAD

In [8]:
for student in ["Asad", "Ahmed", "Ali", "Basir", "Tahir"]:
    print(f"The name of satudent is {student}")

The name of satudent is Asad
The name of satudent is Ahmed
The name of satudent is Ali
The name of satudent is Basir
The name of satudent is Tahir

In [9]:
for num in range(1,10):
    print(num)

1
2
3
4
5
6
7
8
9

In [11]:
for num in range(1,10,2): #odds
    print(num)

0
2
4
6
8

In [12]:
for num in range(0,10,2): #even
    print(num)

0
2
4
6
8

In [16]:
for num in range(10,0,-2): #reverse
    print(num)

10
8
6
4
2

In [9]:
students =["Asad", "Ahmed", "Ali", "Basir", "Tahir"]

In [8]:
for num in range(len(students)):
    students[num] = f"{students[num]} Pakistani"
students

['Asad Pakistani',
 'Ahmed Pakistani',
 'Ali Pakistani',
 'Basir Pakistani',
 'Tahir Pakistani']

In [12]:
for student in students:
    students.append(students.pop()+"Pakistani")
students.reverse()

In [13]:
students

['AsadPakistaniPakistaniPakistaniPakistaniPakistaniPakistaniPakistani',
 'Ahmed',
 'Ali',
 'Basir',
 'TahirPakistaniPakistaniPakistani']

In [22]:
squares = []
for value in range(1,11):
    square = value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]