# Introduction to python 

we will us <b>python</b> crash course book

In [13]:
print("Helo","Python","Hru",sep="=====", end="\t")
print("ONe more")

Helo=====Python=====Hru		ONe more

In [5]:
print("Welcome")

Welcome

# Varaibles

Data types

int , flaot, string, boolean

In [15]:
a = 10

In [17]:
print(type(a))

<class 'int'>

In [18]:
id(a)

140716894560944

In [25]:
b = 12.4
type(b)

float

In [26]:
c = True
d = False

In [28]:
type(c)

bool

In [31]:
name = "AI"
print(type(name))

<class 'str'>

In [32]:
name = 45

In [33]:
type(name)

int

In [34]:
val1  = 100

In [39]:
val2 = val1  # pass by reference

In [36]:
val2

100

In [40]:
val1 = 200

In [41]:
val2

200

In [50]:
id(val1)==id(val2)

True

In [43]:
val3 = 200

In [44]:
id(val1)==id(val3)

True

In [45]:
name  = "Pakistan"

In [52]:
name.count('a')

2

In [55]:
name.find('n')

7

In [56]:
len(name)

8

In [57]:
name.translate()

' Pakistan '

In [61]:
name =  "Pakistan"
year = 1947

# i am Pakistan and i came into existance in 1947
print("i am " +name+ " and i came into existance in " +str(year))

i am Pakistan and i came into existance in 1947

In [64]:
"this is my friend's book"

"this is my friend's book"

# String formatting

In [69]:
name  = input("Enter your name")
age  = input("Enter your age")
print("My name is {} and my age is {}".format(name,age))

Enter your nameqwqw
Enter your ageqw
My name is qwqw and my age is qwqw

In [72]:
name  = input("Enter your name").split(,)
age  = input("Enter your age")
print(f"My name is {name} and my age is {age}")

Enter your namenasir, asad
Enter your age34
My name is nasir, asad and my age is 34

In [75]:
name  = input("Enter your name").split(',')

Enter your namenasir, asad

In [77]:
name[0]

'nasir'